.edit-picture {
    background: url('../resources/red-curtain.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    

.editpost {
    height: 40em;
    padding-top: 20em;
    

    input, button, textarea {
        display: block;
        margin: 0 auto;
    }

    .smallerbox {
        width: 20em;
        height: 2em;
    }
    
    .largerbox {
        width: 20em;
        height: 10em;
    }

    button {
        color: white;
    }
}
}