.edit {
    background-image: url('http://www.clipartkid.com/images/442/11054-red-curtain-curtain-XZqPuO-clipart.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: -13px;
        margin-right: -13px;
        height: 40em;
}