/************
Jumbotron
*************/

.jumbotron {
    background-image: url('../img-ana/theater-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: top;*/
    width: 100%;
    height: 50em;
    color: white;
    margin-bottom: 30px;
}

#jumbo-h1 {
    font-family: "Rye", cursive, Arial, sans-serif;
    margin-top: 200px;
}

.btn,
.active {
    transition: .4s;
}


/************
Animation
*************/

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}