.newpost {
    height: 40em;
    padding-top: 20em;
    background-image: url('http://www.clipartkid.com/images/442/11054-red-curtain-curtain-XZqPuO-clipart.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -13px;
    margin-right: -13px;

    input, button, textarea {
        display: block;
        margin: 0 auto;
    }

    .smallbox {
        width: 20em;
        height: 2em;
    }
    
    .largebox {
        width: 20em;
        height: 10em;
    }

    button {
        color: white;
    }
}