
.row {
    overflow: hidden;
}
.container-fluid {
    margin-left: -15px;
    margin-right: -15px;

    .curtain {
        background-image: url('../resources/red-curtain.jpg');
        margin-left: -13px;
        margin-right: -13px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;


        .blog-stuff {
            height: 20em;
            margin: 0 auto;
            // background-color: red;

           .singlepost {
            text-align: center;
            // padding-left: 20em;
            // padding-right: 20em;
            // background-color: blue;

            h1, h2, h3, h4 {
                    font-family: @heroFont;
                    word-wrap: break-word;
                    
                    // background-color: green;
                }

            }

            .button-container {
                text-align: center;
                margin-top: 10px;
                // background-color: yellow;

                button {
                    font-family: @heroFont;
                    color: white;
                }  
            }
        }
    }
}

// @media screen and (max-width: 596px) {
//     .container-fluid {
//         .curtain {
//             .blog-stuff {
//                 .singlepost {
//                     padding-left: 0em;
//                     padding-right: 0em;
//                 }
//             }
//         }
//     }
// }

