
.blogpage-header {
    padding-top: 15em;
    text-align: center;

}

.blog-body {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.curtain {
    background-image: url('../resources/red-curtain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button-container {
    text-align: center;
}
    
h1, h2, h3, h4 {
    font-family: @heroFont;
        }
            
