.container-fluid {
    margin-left: -15px;
    margin-right: -15px;

    .curtain {
        background-image: url('../resources/red-curtain.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: -13px;
        margin-right: -13px;
        height: 40em;

        .singlepost {
            text-align: center;
            margin-top: 20em;
            margin-left: 30em;
            margin-right: 30em;

            h1, h2, h3, h4 {
                font-family: @heroFont;
            }
        }

    button {
        font-family: @heroFont;
        color: white;
    }
    }
}
