#select-tickets {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    .glyphicon {
        font-size: 0.75em;
        color: red;
    }
}

.small-input-container {
    padding-left: 0;
}
button {
    background-color: @mainRed;
    color: white;
    text-decoration: none;
}