// @media only screen and (max-width: 632px){
//     .form-control {
//         width: 75%;
//     }
// }

#theater-seats {
    background-image: url("../resources/theater-seats.jpg");
    background-size: cover;
    height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h1 {
        font-family: @heroFont;
        color: white;
        text-align: center;
        // position: absolute;
    }
}
.h1Container {
        padding-top: 10em;
        // text-align: center;
    }
#backBtnDiv {
    margin-left: 1.5em;
    margin-bottom: 1.75em;
}

#select-tickets {
    font-family: @heroFont;
    margin-top: 1.5em;
    margin-bottom: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    legend {
        margin-left: 0.75em;
    }
    .glyphicon {
        font-size: 0.75em;
        color: red;
    }
}

// .small-input-container {
//     padding-left: 0;
// }
button {
    background-color: @mainRed;
    color: white;
    text-decoration: none;
    font-family: @heroFont;
    letter-spacing: 0.2em;
    padding: 0.2em;
}