<div class="edit-picture">
    <div class="editpost">
        <textarea class="smallerbox" ng-model="singleblog.author" placeholder="What's your name?"></textarea>
        <textarea class="smallerbox" ng-model="singleblog.title" placeholder="What's your title?"></textarea>
        <textarea class="largerbox" ng-model="singleblog.content" placeholder="What's your message?"></textarea>
        <div class="edit-buttons">
            <button ng-click="updatePost()">Post</button>
            <button ng-click="backToEvents()">Go Back</button>
        </div>
    </div>
</div>