	
<div class="main">
    <div class="headerContainer">
       <p class= "header"> Steel City Flicks</p>
    </div>
    <p class="subHeader"> What's Playin'? </p>
    <p class="text">These text divs will expand/collapse on mouse hover/over events</p>
    <p class="subHeader"> What's Cookin'?</p>
    <p class= "text">It's a classic Hand wow call now and wow call now and garlic. The hot and Tossed 
    dough and wow call Domino's; the very first bite. For hot crust sensation, handmade 
    just from the Pesto is topping Pesto Crust is crust sensation, handmade just Pizza 
    for just $9.99. 
    <p>
    <p class="subHeader">  </p>
    <p class="subHeader"> Swag </p>
        <p class="text"> link to our online store for customized stuff </p>
    <p class="subHeader"> About </p>
</div>

    