<div class="main container">
	<div class="pic-container">
		<div class="box-container row row-centered">
			<div class="box col-md-3 col-sm-3 col-xs-3 col-centered">
				<div class="box-content">
					<div class="box-wrapper">
						<img class="navIcon" src="../resources/reel.svg" alt="Smiley face" height="42" width="42">
					</div>
				</div>
				<div class="box-overlay magictime" data-hover="vanishOut" data-return="vanishIn">
					<img class="boxOverlay" src="../resources/ticket.jpg" alt="Smiley face" height="42" width="42">
				</div>
				<a class="link" href="/#/movies/"></a>
			</div>
			<div class="box col-md-3 col-sm-3 col-xs-3 col-centered">
				<div class="box-content">
					<div class="box-wrapper">
						<img class="navIcon" src="../resources/food.svg" alt="Smiley face" height="42" width="42">
					</div>
				</div>
				<div class="box-overlay magictime" data-hover="vanishOut" data-return="vanishIn">
					<img class="boxOverlay" src="../resources/ticket.jpg" alt="Smiley face" height="42" width="42">
				</div>
				<a class="link" href="/#/menu/"></a>
			</div>
			<div class="box col-md-3 col-sm-3 col-xs-3 col-centered">
				<div class="box-content">
					<div class="box-wrapper">
						<img class="navIcon" src="../resources/calendar.svg" alt="Smiley face" height="42" width="42">
					</div>
				</div>
				<div class="box-overlay magictime" data-hover="vanishOut" data-return="vanishIn">
					<img class="boxOverlay" src="../resources/ticket.jpg" alt="Smiley face" height="42" width="42">
				</div>
				<a class="link" href="/#/events/"></a>
			</div>
			<div class="box col-md-3 col-sm-3 col-xs-3 col-centered">
				<div class="box-content">
					<div class="box-wrapper">
						<img class="navIcon" src="../resources/ticket.svg" alt="Smiley face" height="42" width="42">
					</div>
				</div>
				<div class="box-overlay magictime" data-hover="vanishOut" data-return="vanishIn">
					<img class="boxOverlay" src="../resources/ticket.jpg" alt="Smiley face" height="42" width="42">
				</div>
				<a class="link" href="/#/tickets/"></a>
			</div>
		</div>
	</div>

</div>