<link rel="stylesheet" href="css/menu.css">

<div class="container-fluid black" id="menuCont">

	<div class="menu-header">
			<div class="theater-heroMenu jumbotron">
                <div class="vertical-center">
                    <div class="heroWords food-container text-center">
                        <h1>What to Eat?</h1>
                    </div>
                </div>
            </div>
	</div>

    <div class="menu-area">
        <div class="row equal">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body title">
                        Previews
                    </div>
                    <div class="panel-body words">
                        <b>Chili Cheese Fries</b>
                            <div class="descrip">Brownidfjdslkfkljaklfjd;kalsdke with Caramel Sauce and Ice Cream</div>
                        <b>Pretzel with Beer Cheese</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Everything Popcorn</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Plain Popcorn</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body title">
                        The Main Event
                    </div>
                    <div class="panel-body words">
                        <b>Cheese Pizza</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Pepperoni</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Chicken Quesadilla</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Chili Bowl</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body title">
                        Rolling Credits
                    </div>
                    <div class="panel-body words">
                        <b>Brownies A La Mode</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Chocolate Chip Cookie Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Key Lime Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Ice Cream</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row equal">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body title">
                        Rolling Credits
                    </div>
                    <div class="panel-body words first">
                        <b>Brownies A La Mode</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Chocolate Chip Cookie Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Key Lime Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Ice Cream</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body title">
                        Rolling Credits
                    </div>
                    <div class="panel-body words">
                        <b>Brownies A La Mode</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Chocolate Chip Cookie Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Key Lime Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Ice Cream</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body title">
                        Rolling Credits
                    </div>
                    <div class="panel-body words">
                        <b>Brownies A La Mode</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Chocolate Chip Cookie Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Key Lime Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Ice Cream</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body title">
                        Rolling Credits
                    </div>
                    <div class="panel-body words">
                        <b>Brownies A La Mode</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Chocolate Chip Cookie Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Key Lime Pie</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                        <b>Ice Cream</b>
                            <div class="descrip">Brownie with Caramel Sauce and Ice Cream</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>