<div class="container-fluid">

		<div class="menu-header">
            <div class="theater-hero">
                <div class="col-md-12">
                    <h1>What's Happening?</h1>
                    <h2>Steel City Events</h2>
                </div>
            </div>
        </div>

		<div class="menu-area">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body">
							Previews
						</div>
						<div class="panel-body">
							Blog title and author go here
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body">
							The Main Event
						</div>
						<div class="panel-body">
							Blog title and author go here
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-default">
                        <div class="panel-body">
							<a href="#"> <b>Rolling Credits </b></a>
						</div>
						<div class="panel-body">
							Blog title and author go here
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--container closing-->
	</div>