<div class="container-fluid black" id="menuCont">

	<div class="menu-header">
			<div class="theater-heroMenu jumbotron">
                <div class="vertical-center">
                    <div class="heroWords food-container text-center">
                        <h1>What to Eat?</h1>
                        <div class="questionText"><p id="questionText"></p></div>
                        <div class="answerText"></div>
                    </div>
                </div>
            </div>
	</div>

    <div class="menu-area">
        <div class="row mine equal">
            <div class="col-md-4 columnsMenu">
                <div class="panel panel-default here">
                    <div class="panel-body title">
                        The Previews
                    </div>
                    <div class="panel-body words">
                        <b>Fried Green Tomatoes</b>
                            <div class="descrip">Lightly Fried Tomatoes with Spicy Ranch Dressing</div>
                        <b>Mean Girls</b>
                            <div class="descrip">Cheese Fries because You're On An All-Carb Diet</div>
                        <b>The Martian</b>
                            <div class="descrip">Mars Potato Poppers with Bacon and Cheese</div>
                        <b>Frankenweenie</b>
                            <div class="descrip">Teenie Weenie Hot Dog/BLT Hybrids</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 columnsMenu">
                <div class="panel panel-default here">
                    <div class="panel-body title">
                        The Main Event
                    </div>
                    <div class="panel-body words">
                        <b>Lady and the Tramp</b>
                            <div class="descrip">Spaghetti and Meatballs Big Enought to Share With Your Honey</div>
                        <b>The Big Short</b>
                            <div class="descrip">Big Short Rib Tacos with Spicy Guacamole and Queso</div>
                        <b>Pulp Fiction</b>
                            <div class="descrip">A Royale with Cheese...According to the French</div>
                        <b>Sound of Music</b>
                            <div class="descrip">Pork Schnitzel with French Fries</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 columnsMenu">
                <div class="panel panel-default here">
                    <div class="panel-body title">
                        The Rolling Credits
                    </div>
                    <div class="panel-body words">
                        <b>Zombieland</b>
                            <div class="descrip">Deep Fried Twinkies because Zombies are Coming</div>
                        <b>Serendipity</b>
                            <div class="descrip">Frozen Hot Chocolate for Two</div>
                        <b>The Help</b>
                            <div class="descrip">Chocolate Icebox Pie without "The Terrible, Awful Thing"</div>
                        <b>Labor Day</b>
                            <div class="descrip">Peach Pie a la Mode</div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row mine equal">
            <div class="col-md-3 columnsMenu">
                <div class="panel panel-default here">
                    <div class="panel-body title">
                        The Cocktails
                    </div>
                    <div class="panel-body words first">
                        <b>The 007</b>
                            <div class="descrip">Classic Martini (Shaken not Stirred)</div>
                        <b>The Casablanca</b>
                            <div class="descrip">A Morrocan Spin on the Classic French 75</div>
                        <b>Sex and the City</b>
                            <div class="descrip">A Cosmopolitan with Vodka, Cranberry, Lime and Cointreau</div>
                        <b>Tequila Sunrise</b>
                            <div class="descrip">Tequila, Orange Juice, Grenadine and Fruit to Garnish</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 columnsMenu">
                <div class="panel panel-default here">
                    <div class="panel-body title">
                        The Brews
                    </div>
                    <div class="panel-body words">
                        <b>Avondale</b>
                            <div class="descrip">Spring Street Saison, Battlefield IPA, Vanillaphant Porter</div>
                        <b>Good People</b>
                            <div class="descrip">Pale Ale, IPA, Brown Ale, Snake Handler, Coffee Oatmeal Stout</div>
                        <b>Cahaba</b>
                            <div class="descrip">Liquidambar, Ryezone, White IPA, American Blonde Ale, Oka Uba IPA</div>
                        <b>Ghost Train</b>
                            <div class="descrip">Craft Lager, Go-Devil Golden Ale, Switchman's Stash</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 columnsMenu">
                <div class="panel panel-default here">
                    <div class="panel-body title">
                        The Popcorn
                    </div>
                    <div class="panel-body words">
                        <b>The Ranch</b>
                            <div class="descrip">Popcorn with Ranch Seasoning and chives</div>
                        <b>The Everything Bagel</b>
                            <div class="descrip">Popcorn with Bagel Chips and Everything Bagel Seasoning</div>
                        <b>The Bacon-Jalapeno</b>
                            <div class="descrip">Popcorn with Fried Jalapenos and Bacon</div>
                        <b>The Curry</b>
                            <div class="descrip">Popcorn with Raisins, Pistachios and Curry Powder</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 columnsMenu">
                <div class="panel panel-default here">
                    <div class="panel-body title">
                        The Classics
                    </div>
                    <div class="panel-body words">
                        <b>Boxed Candy</b>
                            <div class="descrip">Twizzlers, M&Ms, Snocaps, Sour Patch Kids</div>
                        <b>Fountain Soda</b>
                            <div class="descrip">Coke, Diet Coke, Sprite, Fanta, Dr. Pepper</div>
                        <b>Water Bottle</b>
                            <div class="descrip">Dasani Water Bottle (Large or Small)</div>
                        <b>Ice Cream</b>
                            <div class="descrip">A Small Cup of Mayfield (Chocolate or Vanilla)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>