<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-1 animated lightSpeedIn" id="jumbo-h1">What's Playing?</h1>
        <p class="lead">Best Flicks in Town!</p>

        <div class="btn-group m-t-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#register">Buy Tickets</button>
            <a class="btn btn-default btn-lg" href="#nowplaying">Now Playing</a>
        </div>
    </div>
</div>
<!-- /jumbotron -->

<div class="container p-t-2">

    <h1 id="movies" class="display-3 text-center my-3 m-b-3 text-muted">Now Playing</h1>




</div>
<!--MOVIES-->
<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-4">
            <div class="card">
                <iframe width="350" height="197" src="https://www.youtube.com/embed/GNvy61LOqY0?rel=0" frameborder="0" allowfullscreen></iframe>
                <div class="card-block">
                    <h4 class="card-title">The Princess Bride</h4>
                    <p class="card-text">A fairy tale adventure about a beautiful young woman and her one true love. He must find her after a long separation and save her. They must battle the evils of the mythical kingdom of Florin to be reunited with each other. Based on
                        the William Goldman novel "The Princess Bride" which earned its own loyal audience.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-4">
            <div class="card">
                <iframe width="350" height="197" src="https://www.youtube.com/embed/UHZQEtG8xYo?rel=0" frameborder="0" allowfullscreen></iframe>
                <div class="card-block">
                    <h4 class="card-title">Army of Darkness</h4>
                    <p class="card-text">3rd Evil Dead movie. Ash (Bruce Campbell) finds himself trapped in medieval times. He must quest for the Necronomicon, a book of evil which can return him to his time. Unfortunately, he releases the evil trapped inside the book and
                        unleashes an army of the dead.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-4">
            <div class="card">
                <iframe width="350" height="197" src="https://www.youtube.com/embed/cd-go0oBF4Y?rel=0" frameborder="0" allowfullscreen></iframe>
                <div class="card-block">
                    <h4 class="card-title">The Big Lebowski</h4>
                    <p class="card-text">Jeff Lebowski who insists on being called "the Dude," a laid-back, easygoing burnout who happens to have the same name as a millionaire whose wife owes a lot of dangerous people a whole bunch of money -- resulting in the Dude having
                        his rug soiled, sending him spiraling into the Los Angeles underworld.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-4">
            <div class="card">
                <iframe width="350" height="197" src="https://www.youtube.com/embed/ctRK-4Vt7dA?rel=0" frameborder="0" allowfullscreen></iframe>
                <div class="card-block">
                    <h4 class="card-title">The Green Mile</h4>
                    <p class="card-text">Paul Edgecomb (Tom Hanks) walked the mile with a variety of cons. He had never encountered someone like John Coffey (Michael Clarke Duncan), a massive black man convicted of brutally killing a pair of young sisters. Coffey had the
                        size and strength to kill anyone, but not the demeanor. Beyond his simple, naive nature and a deathly fear of the dark, Coffey seemed to possess a prodigious, supernatural gift. Paul began to question whether Coffey was truly guilty
                        of murdering the two girls.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-4">
            <div class="card">
                <iframe width="350" height="197" src="https://www.youtube.com/embed/oiXdPolca5w?rel=0" frameborder="0" allowfullscreen></iframe>
                <div class="card-block">
                    <h4 class="card-title">The Usual Suspects</h4>
                    <p class="card-text">The Usual Suspects centers on five criminals (played by Gabriel Byrne, Kevin Spacey, Benicio Del Toro, Kevin Pollak, and Stephen Baldwin) who meet in a police lineup and decide to pull off a heist together.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-4">
            <div class="card">
                <iframe width="350" height="197" src="https://www.youtube.com/embed/g4kLizDXLY0?rel=0" frameborder="0" allowfullscreen></iframe>
                <div class="card-block">
                    <h4 class="card-title">Man on Fire</h4>
                    <p class="card-text">The drunkard Willie and his partner, the midget Marcus, work once a year, near Christmas, dressed like Santa Claus and his helper elf in department stores. However, their intent is to rob the place in the Christmas Eve.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MOVIES-->
<hr>

<!-- schedule -->
<div class="container">
    <h1 id="schedule" class="display-4 text-center m-y-3 text-muted">Schedule</h1>

    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">The Princess Bride <span class="label label-danger label-pill pull-right">5:00am</span></h4>
            PG 1987 ‧ Fantasy/Fantasy ‧ 1h 38m
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Army of Darkness<span class="label label-danger label-pill pull-right">6:00am</span></h4>
            R 1992 ‧ Fantasy/Fantasy ‧ 1h 36m
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">The Big Lebowski<span class="label label-danger label-pill pull-right">7:00pm</span></h4>
            R 1998 ‧ Indie film/Stoner film ‧ 1h 59m
        </li>
        <li class="list-group-item list-group-item-danger">
            <h4 class="list-group-item-heading">HAPPY HOUR<span class="label label-danger label-pill pull-right">8:00pm</span></h4>
            HAPPY HOUR IS FROM 8:00 PM TO 9:00 PM
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">The Green Mile <span class="label label-danger label-pill pull-right">9:00pm</span></h4>
            R 1999 ‧ Fantasy/Crime film ‧ 3h 9m
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">The Usual Suspects <span class="label label-danger label-pill pull-right">10:00pm</span></h4>
            R 1995 ‧ Crime film/Drama film ‧ 1h 48m
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Man on Fire <span class="label label-danger label-pill pull-right">11:00pm</span></h4>
            R 2003 ‧ Comedy/Crime ‧ 1h 38m
        </li>
    </ul>
</div>
<!-- /schedule -->

<!-- callout button -->
<button type="button" class="btn btn-danger-outline btn-lg center-block m-y-3" data-toggle="modal" data-target="#register">Don't Miss Out, Buy Tickets Now</button>

<!-- signup form -->
<!--<hr>
        <div class="col-md-6 col-xl-5 col-xl-offset-2">
            <p><strong>Stay up-to-date on Steel City Flicks</strong></p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email">
                <span class="input-group-btn">
			        <button class="btn btn-primary" type="button">Sign up</button>
			      </span>
            </div>
        </div>
    </div>
    <hr>
     /signup form -->

<!-- /.container -->

<!--===================================
      FORM MODAL
    ====================================-->

<div id="register" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
                <h4 class="modal-title">Buy Tickets Now</h4>
            </div>
            <div class="modal-body">
                <!-- registration form -->
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                    <strong>Hurry!</strong> Early bird registration ends in 2 days.
                </div>

                <form>
                    <h5 class="m-b-2">Basic Info</h5>
                    <fieldset class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </fieldset>
                    <fieldset class="form-group has-danger">
                        <label for="mail" class="form-control-label p-l-0">Email:</label>
                        <input type="email" class="form-control form-control-danger" id="mail">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="role">Movies</label>
                        <select class="c-select form-control" id="role" name="user_role">
									<option value="the princess bride">The Princess Bride</option>
									<option value="army of darkness">Army of Darkness</option>
									<option value="the big lebowski">The Big Lebowski</option>
									<option value="the green mile">The Green Mile</option>          
									<option value="the usual suspects">The Usual Suspects</option> 		
                                    <option value="man on fire">Man on Fire</option>						
								</select>
                    </fieldset>

                    <hr class="m-y-2">
                    <h5 class="m-b-2">Technologies</h5>

                    <div class="form-group c-inputs-stacked">
                        <label class="c-input c-checkbox">
									<input type="checkbox">
									<span class="c-indicator"></span>
									3D
								</label>
                        <label class="c-input c-checkbox">
									<input type="checkbox">
									<span class="c-indicator"></span>
									IMAX
								</label>

                    </div>
                    <hr class="m-y-2">
                    <h5 class="m-b-2">Seats</h5>

                    <div class="form-group c-inputs-stacked">
                        <label class="c-input c-checkbox">
									<input type="checkbox">
									<span class="c-indicator"></span>
									Luxyry Loungers
								</label>
                        <label class="c-input c-checkbox">
									<input type="checkbox">
									<span class="c-indicator"></span>
									Stadium Seating
								</label>
                        <label class="c-input c-checkbox">
									<input type="checkbox">
									<span class="c-indicator"></span>
									D-Box
								</label>

                        <hr class="m-b-2">
                        <h5 class="m-b-2">Payment Info</h5>

                        <div class="row">
                            <div class="col-lg-6 form-group has-success">
                                <label class="form-control-label p-l-0" for="cc-num">Card Number:</label>
                                <input class="form-control form-control-success" id="cc-num" type="text">
                            </div>

                            <div class="col-lg-3 form-group">
                                <label for="zip">Zip Code:</label>
                                <input class="form-control" id="zip" type="text">
                            </div>

                            <div class="col-lg-3 form-group">
                                <label for="cvv">CVV:</label>
                                <input class="form-control" id="cvv" type="text">
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-lg-12">Expiration Date:</label>

                            <div class="col-lg-8 form-group">
                                <select class="c-select form-control" id="exp-month">
										<option value="1">1 - January</option>
										<option value="2">2 - February</option>
										<option value="3">3 - March</option>
										<option value="4">4 - April</option>
										<option value="5">5 - May</option>
										<option value="6">6 - June</option>
										<option value="7">7 - July</option>
										<option value="8">8 - August</option>
										<option value="9">9 - September</option>
										<option value="10">10 - October</option>
										<option value="11">11 - November</option>	
										<option value="12">12 - December</option>          		          
									</select>
                            </div>
                            <div class="col-lg-4 form-group">
                                <select class="c-select form-control" id="exp-year">
										<option value="2016">2016</option>
										<option value="2017">2017</option>
										<option value="2018">2018</option>
										<option value="2019">2019</option>
										<option value="2020">2020</option>        		          
									</select>
                            </div>
                        </div>

                        <hr class="m-b-2">
                        <button type="submit" class="btn btn-primary btn-lg">SUBMIT</button>

                </form>
                <!-- /registration form -->
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->