<div class="container-fluid">
	<div class="row curtain">
		<div class="singlepost">
			<h1>{{ singleblog.title }}</h1>
			<h2>{{ singleblog.author }}</h2>
			<h3>{{ singleblog.content }}</h3>
			<h4>{{ singleblog.createdAt | date: 'short' }}</h4>
		</div>
		<div class="row">
            <div class="col-md-5"></div>
			<div class="button col-md-3">
			<a ng-href="/#/events"><button>Go Back</button></a>
			<button ng-click="goToEditPost(singleblog.id)">Edit</button>
			<button ng-click="deletePost()">Delete</button>
            </div>
            <div class="col-md-4"></div>
		</div>
	</div>
</div>